html, body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    background-color:rgb(230, 231, 235);
}

h2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
}

img {
    width: 100%;
    height: 100%;
}

.slide {
    /* -webkit-filter: brightness(70%); */
    height: 100%;
    width: 100%;
    border-radius: 5px;
    opacity: 0.4;
    transition: opacity 0.8s ease-in-out;
    min-width: 582px;
    transform: translate(0, -30%);
}

.slider-container {
    width: 100%;
    height: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
}

.inner-slider {
    width: inherit;
    background-size: cover;
    display: flex;
    /* gap: 10px; */
    pointer-events: none;
    position: absolute;
    /* overflow-x: hidden; */
    white-space: nowrap;
    top:100px;
}

.marquee1 {
    animation: marquee 30s linear infinite;
    left:0;
}

.marquee2 {
    animation: marquee2 30s linear infinite;
    /* left: var(--carouselWidth); */
}

@keyframes marquee {
    from {
        /* transform: translate(0,0); */
        left: 0%;
    }

    to {
        /* transform: translate(-200%, 0); */
        /* left: calc(var(--carouselWidth) * -1); */
    }
}

@keyframes marquee2 {
    from {
        /* transform: translate(200%, 0); */
        /* left: var(--carouselWidth); */
    }
    to {
        /* transform: translate(0, 0); */
        left: 0%;
    }
}

.container, li{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#main-nav {
    z-index: 5;
    background-color: rgb(236, 236, 236);
}

.top-nav {
    display: block;
}

.text-left {
    text-align: left;
}

.main-container {
    margin: 8rem 0 auto;
}

.image-container {
    width:300px;
    height:300px;
    text-align:center;
}

.center {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
    margin: 0 auto;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    grid-column: 2/3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3/4;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity .2s ease-in .5s, transform 400ms, ease-in .5s;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.no-underline {
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.img-resize {
    width: 150px;
    height: 100px;
}

.nav, .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-bottom: 0;
    list-style: none;
}

#name {
    display: flex;
    justify-content: center;
    align-self: center;
    color: rgb(235, 236, 239);
    transition: opacity 0.5s ease-in-out, margin-top 0.7s ease-in-out;
}

.form-data {
    display: flex;
    flex-flow: column;
    place-content: center;
    /* margin-inline-start: 25%;
    margin-inline-end: 25%; */
    padding: 1vw;
}

.mainbody {
    position: relative;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:rgb(230, 231, 235);
}

#about-me h3{
    font-size: 30px;
}

.about-me-img {
    background-image: cover;
    width: 150px;
    height: 150px;
}

.rounded-img { 
    border-radius: 100%;
}

.about {
    display:grid;
    background-size:cover;
    height: 80vh;
    width: 50vh;
    background-position: 0px, -200px;
}

#about-me p{
    margin-top: 1em;
    font-size: 18px;
    font-weight: 200;
    min-width: 200px;
}

#about-me {
    /* background: linear-gradient(rgba(7, 7, 13, 0.751), rgba(2, 3, 10, 0.867)), url("/imgs/Directing_At_MLG.jpg");
    background-size:cover; */
    top: 60px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#about-me-paragraph {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}

#intro {
    display: grid;
    position: relative;
    justify-content: center;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 1;
    transition: opacity .5s ease-out .5s, transform .5s ease-out .3s;
}

#projects h3{
    font-size: 30px;
}

#introduction {
    background-color: black;
    background: linear-gradient(rgba(12, 11, 8, 0.667), rgba(2, 16, 18, 0.944));
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-position: 0px 0px;
    position: relative;
    width: 100%;
    /* max-height: 50px; */
    /* overflow: hidden; */
}

#intro-text {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

#intro-text > div> h2, #intro-text > div> p {
    box-shadow: 0 5px 100px 5px black;
}

#technologies {
    margin: 4em 0 auto;
    background-color: #f8f9fa;
}

.main-body {
    height:100%;
    width:100%;
}

.intro > h2 p {
    text-align: center; 
    margin-top: 50%;
}

.menu {
    margin: 0 30px 0 0;
}
.menu a{
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display:none;
    z-index: 5;
}

.zoom {
    transition: all .5s, ease-out .5s;
}

.card {
    margin: 1em;
    width: 100%;
    height: 100%;
}

.card > p {
    font-family: 'Noto sans';
    font-size: 0.75rem;
}

.card > a {
    width: 100%;
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: auto;
    padding-bottom: 1em;
    background-size: contain;
}

.zoom:hover {
    transform: scale(1.01);
    transition: all .5s, ease-out .5s;
}

.border-radius {
    border-radius: 10px 50px 10px;
    background-color: rgba(207, 207, 207, 0.733);
    padding: 20px;
}

.drop-menu {
    display: none;
}

#intro-text {
    position: absolute;
    margin-top: 30vh;
}

#intro-text p {
    color:rgba(247, 244, 234, 0.698)!important;
    font-size: 22px!important;
}

#projects > ul > div > p a {
    text-decoration: none;
    color: rgb(79, 161, 216);
}

#projects > ul > div > p strong {
    font-weight: 600;
    color:rgb(0, 0, 0)
}

@media(max-width:1200px) {
    .main-container{
        width: 100%;
    }
}

@media (max-height: 800px) {
    #intro-text {
        margin: 0 auto;
        margin-top: 20vh;
        /* width: 50vw; */
    }
/* 
    #intro-text h2 {
        font-size: 38px!important;
    } */

    /* #intro-text p {
        font-size: 18px!important;
    } */
}

@media only screen and (max-width:1000px) {
    .intro {
        margin-top: 50%;
    }

    .main-container {
        width: 100%;
    }

    .drop-menu {
        display: block!important;
        width: 100%;
        padding: 0!important;
        margin: 0!important;
    }

    .top-nav {
        display: none;
    }

    .d-flex,
    .navbar-nav,
    .nav,
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: none!important;
    }

    label {
        display: block;
        cursor: pointer;
    }

    #introduction {
        max-height:550px;
    }

    #intro-text {
        margin-top: 20vh;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    .social-links {
        width: 100%;
        margin: 0 auto;
    }
    
    .card {
        height: 100%!important;
    }

    #tech-list > div> div > div > img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 1300px) {
    #projects > ul {
        max-width: 80%;
        justify-items: center;
    }

    #projects > ul > .card {
        width: 100%;
        height: 600px;
    }

    .social-links {
        width: 50%;
    }

    #tech-list > div> div > div > img {
        width: 100px;
        height: 100px;
    }
}

#projects > ul > .card {
    max-width: 800px;
    width: 80%;
    height: 600px;
}

#page {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 80%;
    padding: 1px;
    margin: 5px;
}

.social-links img {
    max-width: 40px;
    max-height: 40px;
    min-width: 15px;
    min-height: 15px;
    margin-right: 1em;
}

.social-links > ul > li:hover {
    transform: scale(130%);
    transition: transform 0.3s ease-in-out;
}

.social-links > ul > li {
    transition: transform 0.3s ease-in-out;
    min-width: 10px;
}

.small {
    width: 20px!important;
    height: 20px!important;
}

#contact {
    background-color: #fbfcff;
    max-width: 500px;
    margin: 0 auto;
}

.form-data > input {
    border-radius: 20px;
    border: 0.1px solid grey;
    margin: 10px;
    text-align: center;
}

.form-data > textarea {
    border-radius: 8px;
    border: 0.1px solid grey;
    margin: 10px;
}

.form-data > textarea::placeholder {
    text-align: center;
}