h2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
}

.container, li{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.center {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
}

.no-underline {
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.nav, .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-bottom: 0;
    list-style: none;
}

#name {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
}

.form-data {
    display: flex;
    flex-flow: column;
    place-content: center;
    /* margin-inline-start: 25%;
    margin-inline-end: 25%; */
    padding: 1vw;
}

.mainbody {
    position: relative;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#intro {
    display: grid;
    justify-content: center;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
}

#page {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 80%;
}