h2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#name {
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainbody {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#intro {
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-self: center;
    background-image: linear-gradient(rgb(216, 216, 216), rgb(243, 243, 243));
    margin-left: 10%;
    margin-right: 10%;
}

#page {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 80%;
}