h2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
}

.container, li{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#main-nav {
    background-color: white;
}

.text-left {
    text-align: left;
}

.main-container {
    margin: 0 auto;
    width: 75%;
}

.image-container {
    width:300px;
    height:300px;
    text-align:center;
}

.center {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
}

.no-underline {
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.img-resize {
    width: 150px;
    height: 100px;
}

.nav, .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-bottom: 0;
    list-style: none;
}

#name {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    opacity: 0;
}

.form-data {
    display: flex;
    flex-flow: column;
    place-content: center;
    /* margin-inline-start: 25%;
    margin-inline-end: 25%; */
    padding: 1vw;
}

.mainbody {
    position: relative;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about-me h3{
    font-size: 50px;
}

#about-me p{
    font-size: 25px;
}

#intro {
    display: grid;
    position: relative;
    justify-content: center;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 1;
    transition:opacity .5s ease-out .5s, transform .5s ease-out .3s;
}

#projects h3{
    font-size: 50px;
}

#introduction {
    display:block;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../imgs/WorksBySparker/X_sitting_Chelsea_NYC.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-position: 0px;
    height: 90vh;
    width: 100%;    
}

.main-body {
    height:100%;
    width:100%;
}

.intro {
    font-size: 42px; 
    text-align: center; 
    padding-top: 40vh;
}

@media(max-width:1200px) {
    .intro {
        padding-top: 40vh;
    }
}

@media (max-width:600px) {
    .intro {
        padding-top: 20vh;
    }
    .main-container {
        width: 100%;
    }
}

#page {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 80%;
}