body {
    overflow-x: hidden;
}

h2 {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
}

.container, li{
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#main-nav {
    background-color: white;
}

.top-nav {
    display: block;
}

.text-left {
    text-align: left;
}

.main-container {
    margin: 0 auto;
}

.image-container {
    width:300px;
    height:300px;
    text-align:center;
}

.center {
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-content: center;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    grid-column: 2/3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3/4;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity .2s ease-in .5s, transform 400ms, ease-in .5s;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.no-underline {
    color: rgb(49, 49, 49);
    text-decoration: none;
}

.img-resize {
    width: 150px;
    height: 100px;
}

.nav, .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-bottom: 0;
    list-style: none;
}

#name {
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
    opacity: 0;
}

.form-data {
    display: flex;
    flex-flow: column;
    place-content: center;
    /* margin-inline-start: 25%;
    margin-inline-end: 25%; */
    padding: 1vw;
}

.mainbody {
    position: relative;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about-me h3{
    font-size: 50px;
}

.about {
    display:grid;
    background-size:cover;
    height: 80vh;
    width: 50vh;
    background-position: 0px, -200px;
}

#about-me p{
    font-size: 25px;
}

#about-me {
    top: 50px;
}

#intro {
    display: grid;
    position: relative;
    justify-content: center;
    align-self: center;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 1;
    transition:opacity .5s ease-out .5s, transform .5s ease-out .3s;
}

#projects h3{
    font-size: 50px;
}

#introduction {
    display:block;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../imgs/WorksBySparker/X_sitting_Chelsea_NYC.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-position: 0px;
    height: 90vh;
    width: 100%;    
}

.main-body {
    height:100%;
    width:100%;
}

.intro {
    font-size: 42px; 
    text-align: center; 
    padding-top: 40vh;
}

.menu {
    margin: 0 30px 0 0;
}
.menu a{
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display:none;
}

.zoom {
    transition: all .5s, ease-out .5s;
}

.zoom :hover {
    transform: scale(1.01);
    transition: all .5s, ease-out .5s;
}

.border-radius {
    border-radius: 10px 50px 10px;
    background-color: rgba(207, 207, 207, 0.733);
    padding: 20px;
}

.drop-menu {
    display: none;
}

@media(max-width:1200px) {
    .intro {
        padding-top: 40vh;
    }
    .main-container{
        width: 100%;
    }
}

@media (max-height: 1000px) {
    #intro-text {
        margin-top: 0!important;
        padding-top: 0!important;        
    }

    #intro-text h2 {
        font-size: 60px!important;
    }

    #intro-text p {
        font-size: 30px!important;
    }
}

@media only screen and (max-width:1000px) {
    .intro {
        padding-top: 20vh;
    }
    .main-container {
        width: 100%;
    }

    .drop-menu {
        display: block!important;
        width: 100%;
        padding: 0!important;
        margin: 0!important;
    }

    .top-nav {
        display: none;
    }

    .d-flex,
    .navbar-nav,
    .nav,
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: none!important;
    }

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
}

#page {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 80%;
    padding: 10px;
    margin: 10px;
}